<div class="jumbotron">
    <h1>Бесконтактные платежи</h1>
    <p class="lead">Банковский модуль в работе</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Предназначение и формулировка целей</h2>
        <p>На кассе пользователю больше не нужен кошелек: с системой “Бесконтактные платежи” для оплаты достаточно разблокировать телефон и поднести его к терминалу. Нет необходимости даже открывать приложение.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Общие требования</h2>
        <p>Расплачиваться через “Бесконтактные платежи” можно в терминалах, которые принимают бесконтактную оплату.</p>
    </div>
    <div class="col-md-4">
        <h2>API сервера банка</h2>
        <p>Банковский модуль представляет собой серверное приложение, которое выполняет следующие функции:
            <ul>
                <p>Проведение транзакций (Терминал)<p/>
                <p>Авторизация пользователей (Клиент)</p>
            </ul>
</p>
    </div>
</div>
